/*global*/
@import './global/header.css';
@import './global/global.css';
@import './global/footer.css';
/*home*/
@import './home/introducao.css';
@import './home/tecnologia.css';
@import './home/parceiros.css';
@import './home/depoimentos.css';

/*Seguros*/
@import './seguros/seguros.css';
@import './seguros/vantagens.css';
@import './seguros/perguntas.css';

/*Termos*/
@import './termos/termos.css';

/*utilidades*/
@import './utilidades/componentes.css';
@import './utilidades/tipografia.css';
@import './utilidades/cores.css';
/*bicicletas*/
@import './bicicletas/bicicletas-lista.css';
@import './bicicletas/bicicletas.css';
