.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*---Botão*/
.botao {
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;

  font-family: "Poppins";
  font-weight: 600;
  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario{
  background: linear-gradient(var(--cor-7), var(--cor-10));
  color: var(--cor-2);
}

.botao.secundario:hover{
  background: linear-gradient(var(--cor-7), var(--cor-6));

}

.link{
  display: inline-block;
  color: var(--cor-p1);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Poppins",sans-serif;
  text-transform: uppercase;
  transition: color 0.3s;
}

.link::after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: currentColor;
  
}
.link:hover{
  color: var(--cor-0);
}


/*------ Responsividade botão--------------*/
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
/*---Final botão---*/
