.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea{

  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: var(--cor-1);
  border: 1px solid var(--cor-3);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

.form .espandir-campo{
  grid-column: span 2;
}

@media (max-width:600px){
  .form {
    grid-template-columns: 1fr;
  }
  .form .espandir-campo{
    grid-column: 1;
  }
}