.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.lojas > h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}

.lojas img {
  border-radius: 4px 4px 0 0;
}

.lojas-item {
  border-radius: 4px;
  background: var(--cor-0);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
}
.lojas-item img {
  grid-column: 1/-1;
}

.lojas-conteudo h3,
.lojas-tempo {
  grid-column: 1/-1;
}

.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--cor-2);
  margin-left: 40px;
}

.lojas-tempo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}

@media (max-width: 800px ){
  .lojas {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }

  .lojas > h2 {
    margin-bottom: 20px;
  }

.lojas-item {
  padding-bottom: 60px;
  margin-top: 10px;
}

.lojas-conteudo h3 {
  margin-top: 10px;
}
}

@media (max-width: 600px ){
  .lojas h2 {
    font-size: 32px;
  }

  .lojas-conteudo > h3 {
  font-size: 22px;
}

.lojas-conteudo  a {
  font-size: 12px;
}
.lojas-item p{
  font-size: 12px;
}
}