.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.header-menu li {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--cor-0);
  position: relative;
}

/*Criando pseudo elemento embaixo dos links de navegação uma linha embaixo*/
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px; /*hover - valor inicial e quando passar mouse ele vai a 100%*/
  background: var(--cor-0);
  position: absolute;
  margin-top: 4px;
  transition: 0.3s;
}
.header-menu a:hover:after {
  width: 100%;
}
/*----------------------PARTE DA RESPOSIVIDADE CABEÇALHO---------------------------*/

@media (max-width: 800px) {
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a:after {
    display: none;
  }

  .header-menu li {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .header-menu li {
    
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
    flex-wrap: wrap;
  }
}
