.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--cor-p1);
  overflow: hidden;/*se estourar container esconde*/
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: self-end;
}

.depoimento-conteudo p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}

.depoimento p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: -50px;
  top: -20px;
}
.depoimento p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .depoimento-conteudo{
    padding: 40px 20px;
    margin: auto;
  }
  .depoimento-conteudo p{
    font-size: 28px;
  }

  .depoimento img {
    max-height: 200px;
  }
  .depoimento p::after, .depoimento p::before{
  font-size: 3rem;
  }
  .depoimento p::before{
    left: -15px;
  }
}
